<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.3/bricklayer.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.3/bricklayer.min.js"></script>

<div class="bricklayer">
  <% @calendar_events_by_date.each do |date, calendar_events| %>

    <div class="card date bg-primary text-white text-center p-3" data-date="<%= date.to_s(:datedb) %>" onclick="select_date('<%= date.to_s(:datedb) %>')">
      <blockquote class="blockquote mb-0">
        <h1><%= date.to_s(:datehuman_long) %></h1>
      </blockquote>
    </div>

    <% calendar_events.each do |calendar_event| %>
      <%= render calendar_event %>
    <% end %>
  <% end %>
</div>



<script>
  var bricklayer = new Bricklayer(document.querySelector('.bricklayer'))
  var date_selected = null;
  var venue_selected = null;

  function select_date(date){
    console.log("select_date", date);

    var is_already_selected = (date_selected == date);

    if(is_already_selected) {
      date_selected = null;
    } else {
      date_selected = date;
    }

    render_selected();
  }

  function select_venue(venue){
    console.log("select_venue", venue);

    var is_already_selected = (venue_selected == venue);

    if(is_already_selected) {
      venue_selected = null;
    } else {
      venue_selected = venue;
    }

    render_selected();
  }

  function render_selected(){
    $(".card.event").removeClass("disabled");
    $(".card").removeClass("bg-warning selected");
    $(".card .card-venue").removeClass("selected");

    var selector = "";

    if(date_selected) {
      selector += "[data-date='" + date_selected + "']"
      $(".card.date" + selector).addClass("bg-warning selected");
      $(".card.event[data-date!='" + date_selected + "']").addClass("disabled");
    }

    if(venue_selected) {
      selector += "[data-venue='" + venue_selected + "']"
      $(".card.event[data-venue!='" + venue_selected + "']").addClass("disabled");
      $(".card" + selector + " .card-venue").addClass("selected");
    }

    console.log("render_selected", selector);

    if(selector.length > 0) {
      $(".card.event" + selector).addClass("bg-warning selected");
    }
  }
</script>

<style>
  .card {
    margin-bottom: 5px;
  }

  .card.date,
  .card .card-venue {
    cursor: pointer;
  }

  .card.disabled {
    filter: blur(8px) grayscale(50%) opacity(.5);
  }

  .card .card-venue.selected span{
    background-color: orange !important;
  }
</style>
